<!-- Social Media Sidebar Links -->
<aside class="social-sidebar left" aria-label="Social media links">
  <ul class="social-list">
    <!-- GitHub -->
    <li>
      <a href="{{ site.data.social.github.url }}" 
         target="_blank" 
         rel="noopener noreferrer" 
         aria-label="Visit {{ site.data.author.name }}'s GitHub profile">
        <i class="{{ site.data.social.github.icon }}"></i>
      </a>
    </li>
    
    <!-- LinkedIn -->
    <li>
      <a href="{{ site.data.social.linkedin.url }}" 
         target="_blank" 
         rel="noopener noreferrer" 
         aria-label="Connect with {{ site.data.author.name }} on LinkedIn">
        <i class="{{ site.data.social.linkedin.icon }}"></i>
      </a>
    </li>
    
    <!-- Medium -->
    <li>
      <a href="{{ site.data.social.medium.url }}" 
         target="_blank" 
         rel="noopener noreferrer" 
         aria-label="Read {{ site.data.author.name }}'s articles on Medium">
        <i class="{{ site.data.social.medium.icon }}"></i>
      </a>
    </li>
    
    <!-- Dev.to -->
    <li>
      <a href="{{ site.data.social.devto.url }}" 
         target="_blank" 
         rel="noopener noreferrer" 
         aria-label="Follow {{ site.data.author.name }} on Dev.to">
        <i class="{{ site.data.social.devto.icon }}"></i>
      </a>
    </li>
    
    <!-- Hashnode -->
    <li>
      <a href="{{ site.data.social.hashnode.url }}" 
         target="_blank" 
         rel="noopener noreferrer" 
         aria-label="Read {{ site.data.author.name }}'s blog on Hashnode">
        <i class="{{ site.data.social.hashnode.icon }}"></i>
      </a>
    </li>
  </ul>
  
  <!-- Vertical line decoration -->
  <div class="sidebar-line"></div>
</aside>
